#advocate-search {
  .advocate-details,
  .advocate-specialties {
    font-size: 0.85rem;
  }

  .advocate-specialties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-small);

    > div {
      background: var(--pico-form-element-background-color);
      border: 1px solid var(--pico-muted-border-color);
      border-radius: var(--pico-border-radius);
      padding: var(--spacing-small);
      align-content: center;
    }
  }
}